*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

article{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    background-color: #a4c3b2;
    padding: 20px;
    border-radius: 10px;
}

.title{
    margin-bottom: 50px;
}

.title h1{
    font-size: 40px;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}

.title h2{
    font-size: 20px;
}

.box_form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #6b9080;
}

.agregar{
    background-color: #4f772d;
    border: 1px solid #132a13;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.agregar:hover{
    background-color: #1a2f1a;
}

.listado{
    display: flex;
    justify-content: space-between;
}

.conteo{
    width: 50%;
}

.conteo h3{
    margin-bottom: 10px;
}

.table{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.table_top,
.table_bottom{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.id,
.id_primero{
    width: 150px;
}

.tareas,
.tarea_primero{
    width: 425px;
}

.acciones,
.acciones_primero{
    width: 325px;
    display: flex;
    justify-content: space-around;
}

.row{
    display: flex;

}

.table_bottom{
    display: flex;
    flex-direction: column;
    
}

.delete{
    background-color: #a4c3b2;
    border: none;
    color: red;
    font-size: 24px;
    font-weight: bold;
}